<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>事件信息表</title>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="../static/vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="../static/assets/css/app.min.css" type="text/css">
</head>
<body>

<!-- begin::preloader-->
<div class="preloader">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="50px" height="50px" viewBox="0 0 128 128"
         xml:space="preserve">
        <rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF"/>
        <g>
            <path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z"
                  fill="#000000" fill-opacity="1"/>
            <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64"
                              dur="500ms" repeatCount="indefinite">
            </animateTransform>
        </g>
    </svg>
</div>
<!-- end::preloader -->

<!-- begin::navigation -->
<div class="navigation">

    <!-- begin::logo -->
    <div id="logo">
        <a href="index.html">
            <img class="logo" src="../static/assets/media/image/logo.png" alt="logo">
            <img class="logo-sm" src="../static/assets/media/image/logo-sm.png" alt="small logo">
        </a>
    </div>
    <!-- end::logo -->

    <!-- begin::navigation header -->
    <header class="navigation-header">
        <figure class="avatar avatar-state-success">
            <img src="../static/assets/media/image/user/1.png" class="rounded-circle" alt="image">
        </figure>
        <div>
            <h5> 王明达</h5>
            <p class="text-muted">Admin</p>
            <ul class="nav">
                <li class="nav-item">
                    <a href="profile.html" class="btn nav-link bg-info-bright" title="个人信息" data-toggle="tooltip">
                        <i data-feather="user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="btn nav-link bg-danger-bright" title="注销" data-toggle="tooltip">
                        <i data-feather="log-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- end::navigation header -->

    <!-- begin::navigation menu -->
    <div class="navigation-menu-body">
        <ul>
            <li class="navigation-divider">信息管理</li>
            <li>
                <a href="index.html">
                    <i class="nav-link-icon" data-feather="airplay"></i>
                    <span>首页</span>
                    <span class="badge badge-success">2</span>
                </a>
            </li>
            <li>
                <a href="select_event.html">
                    <i class="nav-link-icon" data-feather="clipboard"></i>
                    <span>事件记录</span>
                    <span class="badge badge-success">2</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="nav-link-icon" data-feather="feather"></i>
                    <span>老年人信息管理</span>
                </a>
                <ul>
                    <li><a href="add_old.html">信息录入</a></li>
                    <li><a href="select_old.html">信息查询</a></li>
                    <li><a href="modify_old.html">信息删改</a></li>
                    <li><a href="analyze_old.html">统计分析</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="nav-link-icon" data-feather="user"></i>
                    <span>工作人员信息管理</span>
                </a>
                <ul>
                    <li><a href="add_worker.html">信息录入</a></li>
                    <li><a href="select_worker.html">信息查询</a></li>
                    <li><a href="modify_worker.html">信息删改</a></li>
                    <li><a href="analyze_worker.html">统计分析</a></li>
                </ul>
            </li>
             
             
             
        </ul>
    </div>
    <!-- end::navigation menu -->

</div>
<!-- end::navigation -->

<!-- begin::main -->
<div id="main">

    <!-- begin::header -->
    <div class="header">

        <!-- begin::header left -->
        <ul class="navbar-nav">

            <!-- begin::navigation-toggler -->
            <li class="nav-item navigation-toggler">
                <a href="#" class="nav-link">
                    <i data-feather="menu"></i>
                </a>
            </li>
            <!-- end::navigation-toggler -->

            <!-- begin::header-logo -->
            <li class="nav-item" id="header-logo">
                <a href="index.html">
                    <img class="logo" src="../static/assets/media/image/logo.png" alt="logo">
                    <img class="logo-sm" src="../static/assets/media/image/logo-sm.png" alt="small logo">
                </a>
            </li>
            <!-- end::header-logo -->
        </ul>
        <!-- end::header left -->

        <!-- begin::header-right -->
        <div class="header-right">
            <ul class="navbar-nav">

                <!-- begin::search-form -->
                <li class="nav-item search-form">
                    <div class="row">
                        <div class="col-md-6">
                                <h4> 基于HTML5的智慧养老服务平台</h4>
                        </div>
                    </div>
                </li>
                <!-- end::search-form -->

                <!-- begin::header minimize/maximize -->
                <li class="nav-item dropdown">
                     
                </li>
                <!-- end::header minimize/maximize -->

                <!-- begin::header notification dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link nav-link-notify" title="通知" data-toggle="dropdown">
                        <i data-feather="bell"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                        <div class="p-4 text-center" data-backround-image="assets/media/image/image1.png">
                            <h6 class="mb-1">通知</h6>
                        </div>
                        <div>
                            <ul class="list-group list-group-flush">
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                老年人信息录入成功
                                            </p>
                                            <span class="text-muted small">1分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                工作人员信息录入成功
                                            </p>
                                            <span class="text-muted small">5分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                老年人信息删除成功
                                            </p>
                                            <span class="text-muted small">1小时前</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                义工信息删除成功
                                            </p>
                                            <span class="text-muted small">2小时前</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- end::header notification dropdown -->
            </ul>

            <!-- begin::mobile header toggler -->
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item header-toggler">
                    <a href="#" class="nav-link">
                        <i data-feather="arrow-down"></i>
                    </a>
                </li>
            </ul>
            <!-- end::mobile header toggler -->
        </div>
        <!-- end::header-right -->
    </div>
    <!-- end::header -->

    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>事件信息表</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">数据管理</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">事件信息表</li>
                    </ol>
                </nav>
            </div>
            <!-- end::page-header -->

            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-dark">
                                <tr>
                                    <th>列名</th>
                                    <th>类型</th>
                                    <th>大小</th>
                                    <th>约束</th>
                                    <th>说明</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>id</td>
                                    <td>int</td>
                                    <td>11</td>
                                    <td>非空；主键；自增</td>
                                    <td>事件id（0代表 事件检测，1代表义工交互检测，2代表陌生人检测，3代表摔倒检测，4代表禁止区域入侵检测）</td>
                                </tr>
                                <tr>
                                    <td>event_date</td>
                                    <td>datetime</td>
                                    <td></td>
                                    <td>无</td>
                                    <td>事件发生的时间</td>
                                </tr>
                                <tr>
                                    <td>event_location</td>
                                    <td>varchar</td>
                                    <td>200</td>
                                    <td>无</td>
                                    <td>事件发生的地点</td>
                                </tr>
                                <tr>
                                    <td>event_desc</td>
                                    <td>varchar</td>
                                    <td>200</td>
                                    <td>无</td>
                                    <td>事件描述</td>
                                </tr>
                                <tr>
                                    <td>oldperson_id</td>
                                    <td>int</td>
                                    <td>11</td>
                                    <td>无</td>
                                    <td>老人id(和老人信息表的id关联)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
    <!-- end::main-content -->

    <!-- begin::footer -->
    <footer>
        <div class="container">
            <div>Copyright &copy; 2023.淮北师范大学期末大作业.<a href="http://faculty.bjtu.edu.cn/rjxy/9438.html"> </a></div>
        </div>
    </footer>
    <!-- end::footer -->

</div>
<!-- end::main -->

<!-- Plugin scripts -->
<script src="../static/vendors/bundle.js"></script>

<!-- App scripts -->
<script src="../static/assets/js/app.min.js"></script>
</body>
</html>