<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑个人信息</title>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="../static/vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="../static/assets/css/app.min.css" type="text/css">

    <link type="text/css" href="../static/assets/css/style.css" rel="stylesheet" />
</head>
<body>

<!-- begin::preloader-->
<div class="preloader">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="50px" height="50px" viewBox="0 0 128 128"
         xml:space="preserve">
        <rect x="0" y="0" width="100%" height="100%" fill="#FFFFFF"/>
        <g>
            <path d="M75.4 126.63a11.43 11.43 0 0 1-2.1-22.65 40.9 40.9 0 0 0 30.5-30.6 11.4 11.4 0 1 1 22.27 4.87h.02a63.77 63.77 0 0 1-47.8 48.05v-.02a11.38 11.38 0 0 1-2.93.37z"
                  fill="#000000" fill-opacity="1"/>
            <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64"
                              dur="500ms" repeatCount="indefinite">
            </animateTransform>
        </g>
    </svg>
</div>
<!-- end::preloader -->

<!-- begin::navigation -->
<div class="navigation">

    <!-- begin::logo -->
    <div id="logo">
        <a href="index.html">
            <img class="logo" src="../static/assets/media/image/logo.png" alt="logo">
            <img class="logo-sm" src="../static/assets/media/image/logo-sm.png" alt="small logo">
        </a>
    </div>
    <!-- end::logo -->

    <!-- begin::navigation header -->
    <header class="navigation-header">
        <figure class="avatar avatar-state-success">
            <img src="../static/assets/media/image/user/1.png" class="rounded-circle" alt="image">
        </figure>
        <div>
            <h5> 王明达</h5>
            <p class="text-muted">Admin</p>
            <ul class="nav">
                <li class="nav-item">
                    <a href="profile.html" class="btn nav-link bg-info-bright" title="个人信息" data-toggle="tooltip">
                        <i data-feather="user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="btn nav-link bg-danger-bright" title="注销" data-toggle="tooltip">
                        <i data-feather="log-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!-- end::navigation header -->

    <!-- begin::navigation menu -->
    <div class="navigation-menu-body">
        <ul>
            <li class="navigation-divider">信息管理</li>
            <li>
                <a href="index.html">
                    <i class="nav-link-icon" data-feather="airplay"></i>
                    <span>首页</span>
                    <span class="badge badge-success">2</span>
                </a>
            </li>
            <li>
                <a href="select_event.html">
                    <i class="nav-link-icon" data-feather="clipboard"></i>
                    <span>事件记录</span>
                    <span class="badge badge-success">2</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="nav-link-icon" data-feather="feather"></i>
                    <span>老年人信息管理</span>
                </a>
                <ul>
                    <li><a href="add_old.html">信息录入</a></li>
                    <li><a href="select_old.html">信息查询</a></li>
                    <li><a href="modify_old.html">信息删改</a></li>
                    <li><a href="analyze_old.html">统计分析</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="nav-link-icon" data-feather="user"></i>
                    <span>工作人员信息管理</span>
                </a>
                <ul>
                    <li><a href="add_worker.html">信息录入</a></li>
                    <li><a href="select_worker.html">信息查询</a></li>
                    <li><a href="modify_worker.html">信息删改</a></li>
                    <li><a href="analyze_worker.html">统计分析</a></li>
                </ul>
            </li>
             
             
             
        </ul>
    </div>
    <!-- end::navigation menu -->

</div>
<!-- end::navigation -->

<!-- begin::main -->
<div id="main">

    <!-- begin::header -->
    <div class="header">

        <!-- begin::header left -->
        <ul class="navbar-nav">

            <!-- begin::navigation-toggler -->
            <li class="nav-item navigation-toggler">
                <a href="#" class="nav-link">
                    <i data-feather="menu"></i>
                </a>
            </li>
            <!-- end::navigation-toggler -->

            <!-- begin::header-logo -->
            <li class="nav-item" id="header-logo">
                <a href="index.html">
                    <img class="logo" src="../static/assets/media/image/logo.png" alt="logo">
                    <img class="logo-sm" src="../static/assets/media/image/logo-sm.png" alt="small logo">
                </a>
            </li>
            <!-- end::header-logo -->
        </ul>
        <!-- end::header left -->

        <!-- begin::header-right -->
        <div class="header-right">
            <ul class="navbar-nav">

                <!-- begin::search-form -->
                <li class="nav-item search-form">
                    <div class="row">
                        <div class="col-md-6">
                                <h4> 基于HTML5的智慧养老服务平台</h4>
                        </div>
                    </div>
                </li>
                <!-- end::search-form -->

                <!-- begin::header minimize/maximize -->
                <li class="nav-item dropdown">
                     
                </li>
                <!-- end::header minimize/maximize -->

                <!-- begin::header notification dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link nav-link-notify" title="通知" data-toggle="dropdown">
                        <i data-feather="bell"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                        <div class="p-4 text-center" data-backround-image="assets/media/image/image1.png">
                            <h6 class="mb-1">通知</h6>
                        </div>
                        <div>
                            <ul class="list-group list-group-flush">
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                老年人信息录入成功
                                            </p>
                                            <span class="text-muted small">1分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                工作人员信息录入成功
                                            </p>
                                            <span class="text-muted small">5分钟前</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                老年人信息删除成功
                                            </p>
                                            <span class="text-muted small">1小时前</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item d-flex align-items-center hide-show-toggler">
                                        <div class="flex-grow-1">
                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                义工信息删除成功
                                            </p>
                                            <span class="text-muted small">2小时前</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- end::header notification dropdown -->
            </ul>

            <!-- begin::mobile header toggler -->
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item header-toggler">
                    <a href="#" class="nav-link">
                        <i data-feather="arrow-down"></i>
                    </a>
                </li>
            </ul>
            <!-- end::mobile header toggler -->
        </div>
        <!-- end::header-right -->
    </div>
    <!-- end::header -->

    <!-- begin::main-content -->
    <div class="main-content">

        <!-- begin::container -->
        <div class="container">

            <div class="row">

            <!-- begin::page-header -->
            <div class="page-header">
                <h4>信息删改</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">个人信息管理</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="profile.html">个人信息</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">信息删改</li>
                    </ol>
                </nav>
            </div>
            <!-- end::page-header -->

                <div class="col-md-10">

                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title d-flex justify-content-between align-items-center">
                                原信息
                            </h6>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">真实姓名：</div>
                                <div class="col-6"> 王明达</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">性别：</div>
                                <div class="col-6">男</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">邮箱：</div>
                                <div class="col-6">xxx@163.com</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">电话:</div>
                                <div class="col-6">111</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">移动电话:</div>
                                <div class="col-6">7777777</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 text-muted">简介:</div>
                                <div class="col-6">小程序员一枚。现就读于 淮北师范大学。</div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-body">
                             修改信息</h6>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form">
                                        <form action="" method="get">
                                            <div class="item">
                                                <span>真实姓名：</span>
                                                <label><input type="text" name="username" placeholder="输入真实姓名" /></label>
                                            </div>
                                            <div class="item">
                                                <span>性&nbsp; &nbsp; &nbsp; &nbsp;别：</span>
                                                <label><input type="radio" checked name="gender" value="1">男</label>&nbsp;
                                                <label><input type="radio" name="gender" value="2">女</label>&nbsp;
                                            </div>
                                            <div class="item">
                                                <span>邮&nbsp; &nbsp; &nbsp; &nbsp;箱：</span>
                                                <label><input type="email" placeholder="输入邮箱" /></label>
                                                <small id="emailHelp" class="form-text text-muted">我们不会和任何人分享您的邮箱信息。
                                                </small>
                                            </div>
                                            <div class="item">
                                                <span>电&nbsp; &nbsp; &nbsp; &nbsp;话：</span>
                                                <label><input type="text" name="username" placeholder="输入您的电话号码" /></label>
                                            </div>
                                            <div class="item">
                                                <span>移动电话：</span>
                                                <label><input type="text" name="username" placeholder="输入您的移动电话号码" /></label>
                                            </div>
                                            <div class="item">
                                                <span>简介：</span>
                                                <label><textarea name="message" placeholder="个人简介" class="width"></textarea></label>
                                            </div>
                                            <div class="item">
                                                <span></span>
                                                <label><button type="submit">提交</button></label>
                                                <label><button type="reset">重置</button></label>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end::container -->

    </div>
    <!-- end::main-content -->

    <!-- begin::footer -->
    <footer>
        <div class="container">
            <div>Copyright &copy; 2023. 淮北师范大学 .<a href="http://faculty.bjtu.edu.cn/rjxy/9438.html"> </a></div>
        </div>
    </footer>
    <!-- end::footer -->

</div>
<!-- end::main -->

<!-- Plugin scripts -->
<script src="../static/vendors/bundle.js"></script>

<!-- App scripts -->
<script src="../static/assets/js/app.min.js"></script>

<script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/assets/js/jquery.form.js"></script>
</body>
</html>